############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

############
## Custom
############

/vendor
composer.phar
composer.lock
*.sublime-project
*.sublime-workspace